
.membersMenu {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  background: #1D1D1D;
  transition: all .7s linear;
  z-index: 1;

  .wrapMenu {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;

    .menuList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      &__item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }


      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 106px;
        font-size: 20px;
        line-height: 20px;
        color: #F0F0F0;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 10px;

        &.active {
          color: var(--color-member-area);
        }

        &:hover {
          color: var(--color-member-area);

          .menuList__icon {
            path {
              fill: #fff;
            }
          }
        }
      }
    }

    .menu-profile {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__link {
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &.active,
        &:hover {
          color: var(--color-member-area);
          path {
            fill: red;
          }
        }
      }

      &__name {
        margin-right: 8px;
      }

      &__photo {
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }


      &__info {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      &__weather {
        margin-right: 20px;
      }

      &__time,
      &__weather {
        display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      &__profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        font-size: 20px;
      }

      &__profile-link {
        color: #F0F0F0;
        display: contents;

        svg {
          margin-left: 5px;
          width: 40px;
          height: 40px;
        }

        &:hover,
        &.active {
          color: #FF1212;
          svg path {
            fill: red;
          }
        }
      }
    }
  }

  .btn-menu-open {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    float: right;
    margin-top: 9px;
    margin-right: 15px;

    .btn-menu-line,
    &:before,
    &:after {
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
    }
  }

  .btn-menu-close {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    float: right;
    margin-top: 9px;
    margin-right: 15px;

    &:before {
      position: absolute;
      top: 10px;
      left: 0;
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      top: 10px;
      right: 0;
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
      transform: rotate(-45deg);
    }
  }

  .members_menu_toggle {
    display: none;
  }
}

.members-menu-top {
  padding: 25px 0 25px 150px;
  background-color: #FBFBFC;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date-today {
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      background: var(--color-member-area);
      padding: 8px 22px;
      border-radius: 4px;
      box-shadow: 0 5px 19px rgba(var(--color-member-area), 0.2);
    }

    .logout {
      display: flex;
      align-items: center;
      text-decoration: none;

      &__text {
        font-size: 14px;
        font-weight: 600;
        color: #898888;
      }

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: var(--color-member-area);
        box-shadow: 0 5px 29px rgba(var(--color-member-area), 0.3);
        border-radius: 10px;
        margin-left: 10px;
      }
    }
  }
}

// === Small device === //
@media screen and (max-width: 1000px) {

  .membersMenu {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 5;
    border-bottom: 1px solid #6c686857;

    .btn-menu-open {
      display: block;
    }

    .wrapMenu {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 60px;
      right: 0;
      width: 100%;
      height: 100%;
      background: #212529;
      transition: all .25s linear;
      justify-content: center;
      grid-template-columns:  1fr;

      .menuList {
        flex-direction: column;
      }

      .menuList li,
      .menuList li a {
        width: 100%;
      }

      .menu-profile {
        flex-direction: column;

        &__link {
          display: flex;
          flex-direction: column-reverse;
        }
      }


      &.wrapMenuOpen {
        opacity: 1;
        visibility: visible;
        transition: all .25s linear;
        overflow: auto;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .members-menu-top {
    padding: 80px 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .members-menu-top {
    .wrap {
      .date-today {
        font-size: 14px;
        padding: 8px 10px;
      }

      .logout {
        &__img {
          width: 35px;
          height: 35px;

          svg {
            width: 20px;
          }
        }
      }
    }
  }
}















