.member-profile {
  padding: 80px 0 40px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: calc(100vh - 190px);
  background-color: #1D1D1D;

  &__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 34px;
    line-height: 135%;
    margin-bottom: calc(var(--space-unit) * 5);
  }

  .form {
    padding: 0 60px 20px;

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &__row {
      position: relative;
      width: 100%;
      padding-bottom: 23px;
      margin-bottom: 15px;
    }

    &__lbl {
      display: block;
      font-size: 12px;
      color: #F4F4F4;
      letter-spacing: 0.4px;
      position: absolute;
      top: -8px;
      left: 8px;
      background-color: #1D1D1D;
      padding: 0 5px;
    }

    &__inp,
    &__sel {
      display: block;
      width: 100%;
      height: 56px;
      line-height: 24px;
      font-family: $font;
      font-size: 16px;
      color: #FFFFFF;
      border: 1px solid #8E8E8E;
      border-radius: 8px;
      background-color: transparent;
      outline: none;
      padding: 0 25px;

      &.required {
        color: $red;
        border-color: $red;
      }
    }

    .required-text {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 12px;
      min-height: 20px;
      line-height: 16px;
      color: $red;
      text-align: right;
      z-index: 1;
    }

    &__btn {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 991px) {
  .member-profile {
    padding: 80px 0 0;

    .form {
      padding: 0 0 20px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .member-profile {

    .head-tab {
      &__text {
        display: none;
      }
    }

    .form {
      &__content {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
      }

    }
  }
}

