
.membersMenu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #1D1D1D;
  transition: all .7s linear;
  z-index: 1;

  .wrap-mobMenu {
    display: none;
    justify-content: flex-end;
    align-items: center;
  }

  .wrapMenu {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;

    .menuList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      &__item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80px;
        font-size: 20px;
        line-height: 20px;
        color: #F0F0F0;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 10px;

        &.active {
          color: var(--color-member-area);
        }

        &:hover {
          color: var(--color-member-area);

          .menuList__icon {
            path {
              fill: #fff;
            }
          }
        }
      }
    }

    .menu-profile {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__link {
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &.active,
        &:hover {
          color: var(--color-member-area);
          path {
            fill: var(--color-member-area);
          }
        }
      }

      &__name {
        margin-right: 8px;
      }

      &__photo {
        position: relative;
        width: 56px;
        height: 56px;
        overflow: hidden;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }


      &__info {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      &__weather {
        margin-right: 20px;
      }

      &__time,
      &__weather {
        display: flex;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      &__profile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        font-size: 20px;
      }

      &__profile-link {
        color: #F0F0F0;
        display: contents;

        svg {
          margin-left: 5px;
          width: 40px;
          height: 40px;
        }

        &:hover,
        &.active {
          color: #FF1212;
          svg path {
            fill: red;
          }
        }
      }
    }
  }

  .btn-menu-open {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 15px;

    .btn-menu-line,
    &:before,
    &:after {
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
    }
  }

  .btn-menu-close {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 15px;
    display: none;

    &:before {
      position: absolute;
      top: 10px;
      left: 0;
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      top: 10px;
      right: 0;
      border-radius: 3px;
      background: var(--color-member-area);
      content: '';
      display: block;
      height: 3px;
      margin: 8px 0;
      width: 100%;
      transition: all .25s linear;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .membersMenu {
    .wrapMenu{
      .menuList {
        &__link {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .membersMenu {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 5;
    border-bottom: 1px solid #6c686857;

    .btn-menu-open {
      display: block;
    }
    .btn-menu-close {
      display: block;
    }

    .wrap-mobMenu {
      display: flex;
    }

    .wrapMenu {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 60px;
      right: 0;
      width: 100%;
      height: 100%;
      background: #212529;
      transition: all .25s linear;
      justify-content: center;
      grid-template-columns:  1fr;

      .menuList {
        flex-direction: column;
      }

      .menuList li,
      .menuList li a {
        width: 100%;
      }

      .menu-profile {
        flex-direction: column;

        &__link {
          display: flex;
          flex-direction: column-reverse;
        }
      }


      &.wrapMenuOpen {
        opacity: 1;
        visibility: visible;
        transition: all .25s linear;
        overflow: auto;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}















