.member-btn {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 50px 14px;
  color: #fff;
  background: var(--color-member-area);
  border: 2px solid var(--color-member-area);
  border-radius: 8px;
  box-shadow: 0 4px 23px rgba(var(--color-member-area), 0.5);
  cursor: pointer;
  width: fit-content;

  @media screen and (max-width: 400px) {
    padding: 10px 52px 10px;
    font-size: 16px;
  }

  &:hover {
    color: #fff;
    border: 2px solid white;
    background-color: transparent;
    transition: all 0.3s ease-out;
  }

  &--reverse {
    color: var(--color-member-area) !important;
    background: transparent;
    border: 2px solid var(--color-member-area);

    &:hover {
      color: #fff !important;
      background: var(--color-member-area);
      border: 2px solid var(--color-member-area);
    }
  }

}